.App {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  .task-container {
    margin-top: 20px;
  }

  .btn{
    color:white;
    background-color: rgb(2, 66, 2);
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .task-input {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4px;
    color: gray;
  }
  
  .task-input input {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
   

  }
  
  .task-list {
    list-style-type: none;
    padding: 3px 0px;
    width: 200px;

  }
  
  .task-list li {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 10px;
    color: gray;
    display: flex;
    width: 225px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  
  .task-list button {
    margin-left: 5px;
    cursor: pointer;
  }
  
